
{{#each users as |user|}}
  {{log user}}

  <div>
    <section data-id="{{user.id}}" class="buddies">
   
    {{!-- <h5 id ="user-screen_name"><small></small></h5>  --}}
    <tr><td id="user-name">{{user.first_name}},</td> 
         <td id="user-screen_name">aka {{user.screen_name}},</td>
         <td>Age: {{age user.born_on}}</td>
         <td class="avatar"><img style="object-fit:cover;height:60px;" src="{{user.avatar}}"></td>    
   </tr>
    <button type="submit" id="invite">Invite to Play</button>
    </section>
  </div>
{{/each}}