{{!-- const age = (dob) => {
    var today = new Date()
    var birthDate = new Date(dob)
    var age = today.getFullYear() - birthDate.getFullYear();
    var m = today.getMonth() - birthDate.getMonth();
    if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
            age--;
        }
        return age;
    } --}}

{{#each patients as |patient|}}
  {{log patient}}

  <div>
    <section data-id="{{patient.id}}" class="buddies">
   
    {{!-- <h5 id ="patient-screen_name"><small></small></h5>  --}}
    <tr><td id="patient-name">{{patient.first_name}},</td> 
         <td id="patient-screen_name">aka {{patient.screen_name}},</td>
         <td>Age: {{age patient.born_on}}</td>
         <td class="avatar"><img style="object-fit:cover;height:80px;" src="{{patient.avatar}}"></td>    
   </tr>
    <button type="submit" id="invite">Invite to Play</button>
    </section>
  </div>
{{/each}}